header {
  margin-top: 15px;
  margin-bottom: 40px;
}
header .col-xs-2 {
  padding: 0;
}
header .col-xs-3 {
  padding-right: 0;
}
header .col-xs-1 {
  padding: 0;
}
header .logo {
  cursor: pointer;
}
header .logo a {
  text-decoration: none;
}
header .logo span {
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
}
header .header-slogan {
  padding-left: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #434a54;
  text-transform: uppercase;
}
header .vk {
  padding-left: 40px;
}
header .numb {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #434a54;
}
header .callme {
  color: #4d7d9a;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
header .col-xs-1 div {
  font-size: 14px;
}
header .icon-basket {
  margin-right: 8px;
}
header .quantity {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #c4000d;
  color: #fff;
  position: absolute;
  top: -10px;
  right: 0;
}
header .quantity:after {
  content: "";
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}
header .main-nav {
  border-radius: 6px;
  display: table;
  width: 100%;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 3px #f0f0f0;
  overflow: hidden;
  margin-top: 15px;
}
header .main-nav__item {
  width: 167px;
  height: 75px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}
header .main-nav__item:before {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
header .main-nav__item:hover:before {
  height: 10px;
  transition: height .2s;
}
header .main-nav__item:nth-child(1):before {
  background-color: #07b4c2;
}
header .main-nav__item:nth-child(2):before,
header .main-nav__item:nth-child(7):before {
  background-color: #67bc25;
}
header .main-nav__item:nth-child(3):before,
header .main-nav__item:nth-child(6):before {
  background-color: #efd000;
}
header .main-nav__item:nth-child(4):before {
  background-color: #f68100;
}
header .main-nav__item:nth-child(5):before {
  background-color: #c4000d;
}
header .main-nav__item a {
  font-size: 18px;
  line-height: 75px;
  color: #434a54;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-right: 1px solid #f4f2f2;
  display: block;
  transition: .3s;
  white-space: nowrap;
}
header .main-nav__item a:last-child a {
  border-right: none;
}
header .main-nav__item:hover a {
  font-weight: 400;
}
.btn-green {
  color: #fff;
  text-transform: uppercase;
  outline: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 8px 18px;
  background-color: #65bb24;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #9bd75c;
  -moz-box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #9bd75c;
  box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #9bd75c;
  border: solid 1px #67bc25;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
.btn-green:hover {
  background-color: #6cc626;
  -webkit-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #9fdd5e;
  -moz-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #9fdd5e;
  box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #9fdd5e;
  border: solid 1px #6cc626;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
.btn-green:active {
  box-shadow: 0;
  background-color: #62b322;
  -webkit-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #3d9210;
  -moz-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #3d9210;
  box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #3d9210;
  border: solid 1px #67bc25;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
.orange-order {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: 0;
  text-transform: uppercase;
  width: 138px;
  height: 45px;
  border-radius: 7px;
  background-color: #f68100;
  -webkit-box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #faae00;
  -moz-box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #faae00;
  box-shadow: 0 2px 5px rgba(154, 125, 108, 0.59), inset 0 2px #faae00;
  border: solid 1px #f57b00;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
.orange-order:hover {
  background-color: #fd890a;
  -webkit-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #feb427;
  -moz-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #feb427;
  box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #feb427;
  border: solid 1px #fd951d;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
.orange-order:active {
  background-color: #f28003;
  -webkit-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #e17203;
  -moz-box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #e17203;
  box-shadow: 1px 2px 5px rgba(154, 125, 108, 0.59), inset 1px 2px #e17203;
  border: solid 1px #f17a03;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}
footer {
  font-size: 14px;
  background-color: #eeeff2;
  padding-top: 26px;
  margin-top: 75px;
}
footer .grey-line {
  height: 1px;
  background-color: #ccd1d9;
  margin-top: 22px;
}
footer .numb {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #434a54;
  white-space: nowrap;
  line-height: 29px;
}
footer p {
  margin-bottom: 0;
}
.footer-adress {
  margin-top: 10px;
  padding-right: 70px;
}
.footer-adress > div {
  width: 230px;
  display: inline-block;
  vertical-align: middle;
}
.footer-phones {
  margin-top: 10px;
}
.footer-phones span {
  margin-left: 0;
  vertical-align: middle;
}
.footer-mail {
  display: inline-block;
  margin-top: 10px;
}
.footer-mail > div {
  display: inline-block;
  vertical-align: middle;
}
.social {
  margin-top: 19px;
}
.social i {
  transition: transform 0.2s;
}
.social i:hover {
  transform: scale(1.1);
}
.footer-nav ul {
  width: 100%;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul__item {
  /*display: table-cell;*/
}
.footer-nav__item a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #434a54;
  display: block;
  line-height: 66px;
}
body {
  min-width: 1170px;
  color: #434a54;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  font-size: 24px;
  color: #434a54;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  margin-top: 0;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.psr {
  position: relative;
}
.psa {
  position: absolute;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}
img {
  max-width: 100%;
  border-radius: 7px;
}
.height-343 {
  height: 343px;
}
.middle > div {
  display: inline-block;
  vertical-align: middle;
}
.middle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.to-right {
  float: right;
}
.to-left {
  float: left;
}
.container-900 {
  width: 900px;
  margin: 0 auto;
}
.container-975 {
  width: 975px;
  margin: 0 auto;
}
.page {
  margin-top: 65px;
}
.page ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.page ul li a {
  width: 40px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #434a54;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  padding-top: 7px;
}
.page ul li a:hover {
  background-color: #eeeff2;
  color: #f68100;
}
.roboto-light__default {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  vertical-align: baseline;
  color: #434a54;
}
.roboto-regular__default {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  vertical-align: baseline;
  color: #434a54;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.bordered {
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 3px #f0f0f0;
  border-radius: 7px;
  padding-right: 0;
  box-sizing: border-box;
}
.mt24 {
  margin-top: 24px;
}
.mt24 .col-lg-1 {
  position: relative;
  z-index: 9999;
}
.slider-title {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}
.slider-text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}
.slider-price {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.icon-white-basket {
  width: 27px;
  height: 27px;
  background-image: url(../img/icons/icon-white-basket.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.slider-description {
  padding: 50px 20px 33px 50px;
}
.advantages {
  background-color: #fefefe;
  margin-top: 50px;
  padding-top: 55px;
  padding-bottom: 35px;
  margin-bottom: 80px;
}
.second-title {
  font-size: 24px;
  color: #434a54;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 35px;
}
.advantages .roboto-light__default {
  margin-top: 23px;
}
.product-card {
  min-height: 300px;
  box-sizing: border-box;
  font-size: 0;
  padding: 15px 15px 15px 17px;
  margin-bottom: 28px;
  position: relative;
}
.product-card:hover {
  -webkit-box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
  -moz-box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
  box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
}
.product-card img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-60%);
  z-index: -1;
}
.product-card .img-box {
  height: 200px;
}
.uppercase {
  text-transform: uppercase;
}
.product-card__title {
  font-size: 18px;
  color: #4d7d9a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
.product-card__order-section div {
  display: inline-block;
}
.product-card__price {
  width: 85px;
  vertical-align: top;
  margin-right: 5px;
}
.product-card__price p {
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434a54;
  vertical-align: top;
  margin-left: 4px;
  margin-bottom: 3px;
}
.product-card__price span {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.product-card__big {
  height: 632px;
  padding: 35px 40px 15px;
}
.product-card__big .product-card__title {
  text-align: center;
  margin-bottom: 28px;
}
.product-card__big .img-box {
  height: 452px;
  margin-bottom: 30px;
  position: relative;
}
.product-card__big img {
  max-width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.quick-order {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fefdfe;
  margin-top: 65px;
  margin-bottom: 80px;
}
.quick-order-text {
  font-size: 20px;
  color: #434a54;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 15px;
}
.quick-order .btn-green {
  margin-top: 10px;
}
.ready-solution {
  margin-bottom: 70px;
}
.ready-solution .ready-solution__img-box {
  position: relative;
  display: inline-block;
}
.ready-solution .ready-solution__img-box:hover {
  -webkit-box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
  -moz-box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
  box-shadow: 0 0 7px rgba(2, 3, 1, 0.31);
  border-radius: 8px;
  position: relative;
}
.ready-solution .ready-solution__img-box:hover:before {
  content: "";
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-size: 100%;
  opacity: 0.15;
  border-radius: 8px;
}
.ready-solution .ready-solution__img-box:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../img/icons/spritesheet2.png) no-repeat;
  width: 94px;
  height: 94px;
  background-position: -1510px -3px;
}
.ready-solution .product-card__title {
  text-align: center;
  margin-bottom: 20px;
}
.ready-solution img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
}
.ready-solution__wedding ul li {
  color: #f68100;
}
.about-company {
  padding-top: 60px;
  padding-bottom: 130px;
}
.about-company .roboto-light__default {
  width: 350px;
}
.map .map-box {
  padding-left: 0;
  margin-right: 15px;
  min-height: 412px;
}
.map .office-location {
  padding-left: 28px;
}
.map .roboto-regular__default {
  margin-top: 10px;
  margin-bottom: 0;
}
.map .roboto-light__default {
  font-size: 14px;
}
.map .roboto-light__default .icon-mimi-green-loc {
  margin-right: 5px;
}
.form-box {
  padding: 40px 15px 18px;
  width: 292px;
  position: relative;
  box-sizing: border-box;
}
.form-box:after {
  content: "";
  background: -o-linear-gradient(left, #e7613c 25%, #67bc25 25%, #67bc25 50%, #07b4c2 50%, #07b4c2 75%, #f68100 75%);
  background: -ms-linear-gradient(left, #e7613c 25%, #67bc25 25%, #67bc25 50%, #07b4c2 50%, #07b4c2 75%, #f68100 75%);
  background: -webkit-linear-gradient(left, #e7613c 25%, #67bc25 25%, #67bc25 50%, #07b4c2 50%, #07b4c2 75%, #f68100 75%);
  background: linear-gradient(left, #e7613c 25%, #67bc25 25%, #67bc25 50%, #07b4c2 50%, #07b4c2 75%, #f68100 75%);
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0;
}
.form-box .roboto-light__default {
  font-size: 18px;
  margin-bottom: 15px;
}
.form-box label,
.form-box input {
  display: block;
}
.form-box label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434a54;
  font-size: 14px;
}
.form-box input {
  color: #aab2bd;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 8px 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #e6e9ed;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  margin-bottom: 17px;
}
.form-box input.input-accept {
  border: 1px solid #62b322;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px rgba(105, 189, 39, 0.38);
  -moz-box-shadow: 0 0 12px rgba(105, 189, 39, 0.38);
  box-shadow: 0 0 12px rgba(105, 189, 39, 0.38);
}
.form-box input.input-error {
  border: 1px solid #c4000d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px rgba(196, 0, 13, 0.38);
  -moz-box-shadow: 0 0 12px rgba(196, 0, 13, 0.38);
  box-shadow: 0 0 12px rgba(196, 0, 13, 0.38);
}
.form-box input:last-of-type {
  margin-bottom: 30px;
}
.left-side-menu {
  min-height: 410px;
  padding: 0;
}
.left-side-menu li {
  list-style: none;
}
.left-side-menu a {
  line-height: 52px;
}
.left-side-menu .icon-mini-arrow-down {
  margin-left: 15px;
  transition: transform .2s;
}
.left-side-menu .dropdown .roboto-regular__default {
  cursor: pointer;
}
.left-side-menu .roboto-regular__default:hover .icon-mini-arrow-down {
  transform: scale(1.5);
}
.ready-solution__wedding {
  margin-bottom: 28px;
  padding: 27px 52px 27px 27px;
}
.ready-solution__wedding .product-card__title {
  margin-bottom: 30px;
}
.ready-solution__wedding ul {
  padding-left: 30px;
  margin-bottom: 28px;
}
.ready-solution__wedding .product-card__price {
  width: 100%;
}
.ready-solution__wedding .product-card__price p {
  font-size: 24px;
  margin-top: -6px;
  margin-left: 10px;
}
.price-box {
  vertical-align: bottom;
}
.wedding-set__standart .price-box {
  margin-top: 136px;
}
.wedding-set__vip,
.wedding-set__standart {
  padding-left: 0;
  padding-top: 0;
}
.wedding-set__vip h2,
.wedding-set__standart h2 {
  margin-top: 0;
}
.wedding-set__vip .product-card__price p,
.wedding-set__standart .product-card__price p {
  font-size: 36px;
}
.wedding-set__vip p.roboto-light__default,
.wedding-set__standart p.roboto-light__default {
  text-indent: 30px;
  margin-top: 40px;
}
.set-item .product-card__price {
  margin-top: 15px;
}
.set-item .product-card__price p {
  margin-bottom: 10px;
}
.set-item .roboto-light__default {
  font-size: 24px;
  margin-bottom: 40px;
}
.basket {
  width: 768px;
  height: 540px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: auto;
  background-color: #fff;
  padding: 20px 0 0 0;
  display: none;
}
.basket select {
  outline: 0;
}
.basket table {
  padding: 0 15px;
  position: relative;
}
.basket table:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d7d7d7;
  position: absolute;
  bottom: 0;
  left: 0;
}
.basket table tr td {
  padding-bottom: 20px;
}
.basket .table-title td {
  font-size: 14px;
  font-weight: 300;
  color: #aab2bd;
  height: 45px;
}
.basket .close-round__item {
  background-image: url(../img/icons/spritesheet2.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  background-position: -709px -3px;
  display: inline-block;
  cursor: pointer;
}
.basket .close-round__item:hover {
  background-position: -1461px -3px;
}
.basket .bordered {
  width: 80px;
  height: 60px;
  display: inline-block;
}
.basket .bordered img {
  max-width: 100%;
  max-height: 100%;
}
.basket table tr td {
  text-align: center;
}
.basket table tr td:first-child {
  width: 250px;
}
.basket table tr td:nth-child(2) {
  width: 150px;
}
.basket table tr td:nth-child(3) {
  width: 150px;
}
.basket table tr td:nth-child(3) .bordered {
  width: 70px;
  height: 40px;
  padding-top: 3px;
  font-size: 0;
}
.basket table tr td:nth-child(4) {
  width: 118px;
}
.basket table tr td:nth-child(5) {
  width: 100px;
}
.basket .product-card__price {
  display: inline-block;
}
.basket .product-card__title {
  margin-left: 20px;
}
.basket .roboto-light__default {
  vertical-align: middle;
}
.basket .basket-counter,
.basket .basket-select {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.basket .basket-counter {
  margin-top: 3px;
}
.basket .basket-counter span {
  font-size: 14px;
  color: #aab2bd;
  font-weight: 300;
}
.basket .basket-select p {
  margin-bottom: 0;
  margin-left: 5px;
  line-height: 15px;
  cursor: pointer;
}
.basket .basket-summ {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #434a54;
}
.basket .delivery-form {
  background-color: #fdfcfc;
  padding: 30px 60px 25px 25px;
}
.basket .delivery-form .second-title {
  font-size: 18px;
  margin-bottom: 15px;
}
.basket .delivery-form input,
.basket .delivery-form label {
  display: inline;
  width: auto;
}
.basket .delivery-form label {
  font-size: 14px;
  font-weight: 400;
  color: #656d78;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}
.basket .delivery-form .input-box {
  margin-bottom: 20px;
}
.basket .delivery-form .basket-send {
  padding-left: 80px;
}
.basket .delivery-form .basket-send input:last-of-type {
  margin-bottom: 31px;
}
.basket .delivery-form .basket-send label {
  display: block;
  margin-left: 0;
  color: #656d78;
}
.close-round {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  background: url(../img/icons/grey-cross-round.png) no-repeat;
  cursor: pointer;
}
.close-round:hover {
  background-image: url(../img/icons/spritesheet2.png);
  background-position: -1480px -3px;
}
.recall-mini {
  width: 300px;
  height: 300px;
  padding-top: 60px;
}
.recall-mini .close-round {
  top: 20px;
}
.recall-mini__hover p.roboto-regular__default {
  width: 200px;
  margin: 0 auto;
  margin-top: 70px;
}
.delivery .second-title {
  margin-bottom: 70px;
}
.delivery p.roboto-light__default {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}
.delivery .icon {
  margin-right: 55px;
}
.delivery .product-card__price {
  width: 100px;
  display: inline-block;
  margin-left: 30px;
}
.delivery .product-card__price p {
  margin-left: 0;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
.delivery .product-card__price .icon-bage {
  margin-right: 0;
}
.delivery .delivery-location {
  margin-top: 55px;
}
.icon {
  background-image: url(../img/icons/spritesheet2.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.icon-alarm-clock {
  width: 84px;
  height: 83px;
  background-position: -3px -3px;
}
.icon-bage {
  width: 25px;
  height: 25px;
  background-position: -93px -3px;
}
.icon-basket {
  width: 40px;
  height: 38px;
  background-position: -124px -3px;
}
.icon-callme {
  width: 51px;
  height: 51px;
  background-position: -170px -3px;
}
.icon-car {
  width: 99px;
  height: 83px;
  background-position: -227px -3px;
}
.icon-checked-checkbox {
  width: 20px;
  height: 20px;
  background-position: -332px -3px;
}
.icon-deliver-price {
  width: 36px;
  height: 34px;
  background-position: -358px -3px;
}
.icon-disabled-radio {
  width: 22px;
  height: 22px;
  background-position: -400px -3px;
}
.icon-discount {
  width: 77px;
  height: 75px;
  background-position: -428px -3px;
}
.icon-enabled-radio {
  width: 22px;
  height: 22px;
  background-position: -511px -3px;
}
.icon-f {
  width: 40px;
  height: 40px;
  background-position: -539px -3px;
}
.icon-good {
  width: 75px;
  height: 83px;
  background-position: -585px -3px;
}
.icon-green-heart {
  width: 37px;
  height: 31px;
  background-position: -666px -3px;
}
.icon-grey-cross {
  width: 13px;
  height: 13px;
  background-position: -709px -3px;
}
.icon-grey-restangle {
  width: 14px;
  height: 13px;
  background-position: -728px -3px;
}
.icon-white-basket {
  width: 23px;
  height: 21px;
  background-position: -748px -3px;
}
.icon-instagramm {
  width: 40px;
  height: 40px;
  background-position: -777px -3px;
}
.icon-iphone {
  width: 11px;
  height: 18px;
  background-position: -823px -3px;
  margin-right: 8px;
}
.icon-loc {
  width: 26px;
  height: 36px;
  background-position: -840px -3px;
}
.icon-mimi-green-loc {
  width: 8px;
  height: 12px;
  background-position: -872px -3px;
}
.icon-mini-arrow-down {
  width: 12px;
  height: 7px;
  background-position: -886px -3px;
}
.icon-mini-arrow-up {
  width: 12px;
  height: 7px;
  background-position: -904px -3px;
}
.icon-orange-arrow {
  width: 7px;
  height: 13px;
  background-position: -922px -3px;
  margin-bottom: 4px;
}
.icon-orange-calendar {
  width: 25px;
  height: 25px;
  background-position: -935px -3px;
}
.icon-orange-clock {
  width: 21px;
  height: 21px;
  background-position: -966px -3px;
}
.icon-orange-deliver {
  width: 42px;
  height: 26px;
  background-position: -993px -3px;
}
.icon-orange-free-deliver {
  width: 32px;
  height: 35px;
  background-position: -1041px -3px;
}
.icon-orange-loc {
  width: 15px;
  height: 23px;
  background-position: -1079px -3px;
}
.icon-orange-mail {
  width: 28px;
  height: 20px;
  background-position: -1100px -3px;
}
.icon-orange-phone_clock {
  width: 29px;
  height: 27px;
  background-position: -1134px -3px;
}
.icon-orange-restangle {
  width: 14px;
  height: 13px;
  background-position: -1169px -3px;
}
.icon-orange-smile {
  width: 44px;
  height: 44px;
  background-position: -1189px -3px;
}
.icon-orange-star {
  width: 24px;
  height: 24px;
  background-position: -1239px -3px;
}
.icon-orange-talking {
  width: 38px;
  height: 38px;
  background-position: -1269px -3px;
}
.icon-orange-user {
  width: 23px;
  height: 23px;
  background-position: -1313px -3px;
}
.icon-phone {
  width: 17px;
  height: 18px;
  background-position: -1342px -3px;
  margin-right: 8px;
}
.icon-prepay {
  width: 90px;
  height: 90px;
  background-position: -1365px -3px;
}
.icon-red-cross-hover {
  width: 13px;
  height: 13px;
  background-position: -1461px -3px;
}
.icon-rounded-red-cross-hover {
  width: 24px;
  height: 24px;
  background-position: -1480px -3px;
}
.icon-search {
  width: 94px;
  height: 94px;
  background-position: -1510px -3px;
}
.icon-slider-arrow {
  width: 36px;
  height: 76px;
  background-position: -1610px -3px;
}
.icon-smartphone {
  width: 20px;
  height: 34px;
  background-position: -1652px -3px;
}
.icon-spritesheet {
  width: 1760px;
  height: 96px;
  background-position: -1678px -3px;
}
.icon-twitter {
  width: 40px;
  height: 40px;
  background-position: -3444px -3px;
}
.icon-two-green-heart {
  width: 76px;
  height: 56px;
  background-position: -3490px -3px;
}
.icon-unchecked-checkbox {
  width: 20px;
  height: 20px;
  background-position: -3572px -3px;
}
.icon-vk {
  width: 40px;
  height: 40px;
  background-position: -3598px -3px;
}
.icon-vk-orange {
  width: 33px;
  height: 19px;
  background-position: -3644px -3px;
}
.icon-white-delete {
  width: 11px;
  height: 11px;
  background-position: -3683px -3px;
}
