.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}



header {
  margin-top: 5px;
}
header .col-lg-2 {
  padding-right: 0;
}
header .col-lg-3 {
  padding-right: 0;
}
.logo span {
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
}
.header-slogan {
  padding-left: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #434a54;
  text-transform: uppercase;
}
.numb {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #434a54;
}
body {
  min-width: 1170px;
}
