

footer{

	font-size: 14px;
	background-color: #eeeff2;
	padding-top: 26px;

	.grey-line{
			height: 1px;
			background-color: #ccd1d9;
			margin-top: 22px;
		}

	.numb{
		
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		font-family: @roboto;
		font-weight: @light;
		color: @text-color;
		white-space: nowrap;
		line-height: 29px;

	}

		p{
		margin-bottom: 0;
	}


}

.footer-adress{
	margin-top: 10px;

}

.footer-adress>div{
	width: 230px;
	display: inline-block;
	vertical-align: middle;

}

.footer-phones{
	margin-top: 10px;
}

.footer-phones span{
	margin-left: 0;
	vertical-align: middle;
}

.footer-mail{
	display: inline-block;
	margin-top: 10px;
}

.footer-mail>div{
	display: inline-block;
	vertical-align: middle;
}

.social{
	margin-top: 19px;
}

// nav

.footer-nav ul{
	width: 100%;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	&__item{
		/*display: table-cell;*/
	}


}
.footer-nav__item a{
		font-family: @roboto;
		font-weight: @light;
		font-size: 14px;
		color: @text-color;
		display: block;
		line-height: 66px;
		}