@import "variabless.less";
@import "header.less";

body{
	min-width: 1170px;
	color: @text-color;
}

ul{
	margin: 0;
	padding: 0;
}

// Owl-carousel

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.bordered{
	border: 1px solid #e1e1e1;
	box-shadow: 0 2px 3px #f0f0f0;
	border-radius: 6px;
	padding-right: 0;
	overflow: hidden;
}

.mt24{
	margin-top: 24px;
}

.slider-title{
	font-size: 30px;
	font-family: @roboto;
	font-weight: @light;
	margin-bottom: 30px;
}

.slider-text{
	font-size: @fz18;
	font-family: @roboto;
	font-weight: @light;
	margin-bottom: 30px;
}

.slider-price{
	font-size: 28px;
	font-family: @roboto;
	font-weight: @light;
}

.orange-order{
	color: #fff;
	font-size: 14px;
	font-family: @roboto;
	font-weight: @regular;
	text-transform: uppercase;
	width: 138px;
	height: 45px;
	border-radius: 7px;
	background-color: #f68100;
	-webkit-box-shadow: 0 2px 5px rgba(154,125,108,.59), inset 0 2px #faae00;
	-moz-box-shadow: 0 2px 5px rgba(154,125,108,.59), inset 0 2px #faae00;
	box-shadow: 0 2px 5px rgba(154,125,108,.59), inset 0 2px #faae00;
	border: solid 1px #f57b00;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: linear-gradient(to top, rgba(0,0,0,.16), rgba(255,255,255,.16));
}

.icon-white-basket {
	width: 27px;
	height: 27px;
    background-image: url(../img/icons/icon-white-basket.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.slider-description{
	padding: 50px 20px 33px 50px;
}












.icon {
    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-alarm-clock {
    width: 84px;
    height: 83px;
    background-position: -3px -3px;
}

.icon-bage {
    width: 25px;
    height: 25px;
    background-position: -93px -3px;
}

.icon-basket {
    width: 40px;
    height: 38px;
    background-position: -124px -3px;
    margin-top: 4px;
}

.icon-callme {
    width: 51px;
    height: 51px;
    background-position: -170px -3px;
}

.icon-car {
    width: 99px;
    height: 83px;
    background-position: -227px -3px;
}

.icon-checked-checkbox {
    width: 20px;
    height: 20px;
    background-position: -332px -3px;
}

.icon-deliver-price {
    width: 36px;
    height: 34px;
    background-position: -358px -3px;
}

.icon-disabled-radio {
    width: 22px;
    height: 22px;
    background-position: -400px -3px;
}

.icon-discount {
    width: 77px;
    height: 75px;
    background-position: -428px -3px;
}

.icon-enabled-radio {
    width: 22px;
    height: 22px;
    background-position: -511px -3px;
}

.icon-f {
    width: 40px;
    height: 40px;
    background-position: -539px -3px;
}

.icon-good {
    width: 75px;
    height: 73px;
    background-position: -585px -3px;
}

.icon-green-heart {
    width: 37px;
    height: 31px;
    background-position: -666px -3px;
}

.icon-grey-cross {
    width: 13px;
    height: 13px;
    background-position: -709px -3px;
}

.icon-grey-restangle {
    width: 14px;
    height: 13px;
    background-position: -728px -3px;
}

.icon-instagramm {
    width: 40px;
    height: 40px;
    background-position: -748px -3px;
}

.icon-iphone {
    width: 11px;
    height: 18px;
    background-position: -794px -3px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
}

.icon-loc {
    width: 26px;
    height: 36px;
    background-position: -811px -3px;
}

.icon-mimi-green-loc {
    width: 8px;
    height: 12px;
    background-position: -843px -3px;
}

.icon-mini-arrow-down {
    width: 12px;
    height: 7px;
    background-position: -857px -3px;
}

.icon-mini-arrow-up {
    width: 12px;
    height: 7px;
    background-position: -875px -3px;
}

.icon-orange-arrow {
    width: 7px;
    height: 13px;
    background-position: -893px -3px;
}

.icon-orange-calendar {
    width: 25px;
    height: 25px;
    background-position: -906px -3px;
}

.icon-orange-clock {
    width: 21px;
    height: 21px;
    background-position: -937px -3px;
}

.icon-orange-deliver {
    width: 42px;
    height: 26px;
    background-position: -964px -3px;
}

.icon-orange-free-deliver {
    width: 32px;
    height: 35px;
    background-position: -1012px -3px;
}

.icon-orange-loc {
    width: 15px;
    height: 23px;
    background-position: -1050px -3px;
}

.icon-orange-mail {
    width: 28px;
    height: 20px;
    background-position: -1071px -3px;
}

.icon-orange-phone_clock {
    width: 29px;
    height: 27px;
    background-position: -1105px -3px;
}

.icon-orange-restangle {
    width: 14px;
    height: 13px;
    background-position: -1140px -3px;
}

.icon-orange-smile {
    width: 44px;
    height: 44px;
    background-position: -1160px -3px;
}

.icon-orange-star {
    width: 24px;
    height: 24px;
    background-position: -1210px -3px;
}

.icon-orange-talking {
    width: 38px;
    height: 38px;
    background-position: -1240px -3px;
}

.icon-orange-user {
    width: 23px;
    height: 23px;
    background-position: -1284px -3px;
}

.icon-phone {
    width: 17px;
    height: 18px;
    background-position: -1313px -3px;
    margin-right: 7px;
    margin-top: 2px;
}

.icon-prepay {
    width: 90px;
    height: 90px;
    background-position: -1336px -3px;
}

.icon-red-cross-hover {
    width: 13px;
    height: 13px;
    background-position: -1432px -3px;
}

.icon-rounded-red-cross-hover {
    width: 24px;
    height: 24px;
    background-position: -1451px -3px;
}

.icon-smartphone {
    width: 20px;
    height: 34px;
    background-position: -1481px -3px;
}

.icon-twitter {
    width: 40px;
    height: 40px;
    background-position: -1507px -3px;
}

.icon-two-green-heart {
    width: 76px;
    height: 56px;
    background-position: -1553px -3px;
}

.icon-unchecked-checkbox {
    width: 20px;
    height: 20px;
    background-position: -1635px -3px;
}

.icon-vk {
    width: 40px;
    height: 40px;
    background-position: -1661px -3px;
}

.icon-vk-orange {
    width: 33px;
    height: 19px;
    background-position: -1707px -3px;
}

.icon-white-delete {
    width: 11px;
    height: 11px;
    background-position: -1746px -3px;
}
