@import "variabless.less";
@import "header.less";
@import "buttons.less";
@import "footer.less";

body{
	min-width: 1170px;
	color: @text-color;
}

*{margin: 0;
padding: 0;}

ul{
	margin: 0;
	padding: 0;
}


.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}

.pr-0{
	padding-right: 0;
}

.pl-0{
	padding-left: 0;
}
img{
	max-width: 100%;
	border-radius: 7px;
}

.height-343{
	height: 343px;
}

.middle>div{
	display: inline-block;
	vertical-align: middle;

}

.middle:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.to-right{
	float: right;
}

.to-left{
	float: left;
}

.container-900{
	width: 900px;
	margin: 0 auto;
}

.container-975{
	width: 975px;
	margin: 0 auto;
}

.page{

	margin-top: 65px;

	ul li{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

	ul li a{
		width: 40px;
		height: 40px;
		font-family: @roboto;
		font-weight: @light;
		font-size: @fz18;
		color:@text-color;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		padding-top: 7px;


		&:hover{
			background-color: #eeeff2;
			color: #f68100;
		}
	}



}



// Typography


.roboto-light__default{
	font-size: @fz18;
	font-family: @roboto;
	font-weight: @light;
	vertical-align: baseline;
	color: @text-color;
}

.roboto-regular__default{
	font-size: @fz18;
	font-family: @roboto;
	font-weight: @regular;
	vertical-align: baseline;
	color: @text-color;
}



// Owl-carousel

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.bordered{
	border: 1px solid #e1e1e1;
	box-shadow: 0 2px 3px #f0f0f0;
	border-radius: 7px;
	padding-right: 0;
	box-sizing: border-box;
}

.mt24{
	margin-top: 24px;

	.col-lg-1{
		position: relative;
		z-index: 9999;
	}
}


.slider-title{
	font-size: 30px;
	font-family: @roboto;
	font-weight: @light;
	margin-bottom: 30px;
}

.slider-text{
	font-size: @fz18;
	font-family: @roboto;
	font-weight: @light;
	margin-bottom: 30px;
}

.slider-price{
	font-size: 28px;
	font-family: @roboto;
	font-weight: @light;
}



.icon-white-basket {
	width: 27px;
	height: 27px;
    background-image: url(../img/icons/icon-white-basket.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.slider-description{
	padding: 50px 20px 33px 50px;
}


// Advantages

.advantages{
	background-color: #fefefe;
	margin-top: 50px;
	padding-top: 55px;
	padding-bottom: 35px;
	margin-bottom: 80px;
}

.second-title{
	font-size: @fz24;
	color: @text-color;
	font-family: @roboto;
	font-weight: @regular;
	margin-bottom: 35px;
}

.advantages .roboto-light__default{
	margin-top: 23px;
}



// Bestsellers

.product-card{
	min-height: 300px;
	box-sizing: border-box;
	font-size: 0;
	padding: 15px 15px 15px 17px;
	margin-bottom: 28px;
	position: relative;

	&:hover{
		-webkit-box-shadow: 0 0 7px rgba(2,3,1,.31);
		-moz-box-shadow: 0 0 7px rgba(2,3,1,.31);
		box-shadow: 0 0 7px rgba(2,3,1,.31);
	}

	& img{
		max-width: 100%;
		// vertical-align: middle;
		// display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(-54%);
		z-index: -1;
	}

	& .img-box{
		height: 200px;
	}

}

////////////////////////////////////////
/////////    product-card     //////////
////////////////////////////////////////


.uppercase{
	text-transform: uppercase;
}

.product-card__title{
	font-size: @fz18;
	color: @link-color;
	font-family: @roboto;
	font-weight: @regular;
	margin: 0;
	text-align: left;
}

.product-card__order-section div{
	display: inline-block;
}
.product-card__price{
	width: 85px;
	vertical-align: top;
	margin-right: 5px;

	& p{
		display: inline-block;
		font-size: 16px;
		font-family: @roboto;
		font-weight: @regular;
		color: @text-color;
		vertical-align: top;
		margin-left: 4px;
		margin-bottom: 3px;
	}

	& span{
		display: block;
		font-size: 14px;
		font-family: @roboto;
		font-weight: @light;
	}

}



.product-card__big{
	height: 632px;
	padding: 35px 40px 15px;
	
	& .product-card__title{
		text-align: center;
		margin-bottom: 28px;
	}

	& .img-box{
		height: 452px;
		margin-bottom: 30px;
		position: relative;
	}

	& img{
		max-width: 100%;
		height: 100%;
		border-radius: 6px;
		top: 50%;
		transform: translateY(-50%);
	}

}


// Для быстрого заказа

.quick-order{
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #fefdfe;
	margin-top: 65px;
	margin-bottom: 80px;

	&-text{
		font-size: 20px;
		color: @text-color;
		font-family: @roboto;
		font-weight: @light;
		padding-left: 15px;
	}

	.btn-green{
		margin-top: 10px;
	}

	
}


// Готовые решения

.ready-solution{

	.ready-solution__img-box{
		position: relative;
		display: inline-block;


		&:hover{
			-webkit-box-shadow: 0 0 7px rgba(2,3,1,.31);
			-moz-box-shadow: 0 0 7px rgba(2,3,1,.31);
			 box-shadow: 0 0 7px rgba(2,3,1,.31);
			 border-radius: 8px;
			 position: relative;
			
		}


		&:hover:before{
			content: "";
			background-color: #000;
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background-size: 100%;
			opacity: 0.15;
			border-radius: 8px;
		}

			&:hover:after{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: url(../img/icons/spritesheet2.png) no-repeat;
			width: 94px;
		    height: 94px;
		    background-position: -1510px -3px;
		}



		}

	

			.product-card__title{
				text-align: center;
				margin-bottom: 20px;
		}

			img{
				max-width: 100%;
				height: 300px;
				border-radius: 8px;

		}

		
				&__wedding ul li{
			color: #f68100;
		}


}

// О компании

.about-company{

	padding: 130px 0;



	.roboto-light__default{
		width: 350px;
	}


}

// Карта

.map{

	.map-box{
		padding-left: 0;
		margin-right: 15px;
		min-height: 412px;
	}

	.office-location{
		padding-left: 28px;
	}

	.roboto-regular__default{
		margin-top: 10px;
		margin-bottom: 0;
	}
	
	.roboto-light__default{
		font-size: 14px;

		.icon-mimi-green-loc{
			margin-right: 5px;
		}
	}
}

// Форма


.form-box{

	padding: 40px 15px 18px;
	min-height: 412px;
	position: relative;

	&:after{
		content: "";
		background: -o-linear-gradient(left, #e7613c 25%,#67bc25 25%,#67bc25 50%,#07b4c2 50%,#07b4c2 75%,#f68100 75%);
		background: -ms-linear-gradient(left, #e7613c 25%,#67bc25 25%,#67bc25 50%,#07b4c2 50%,#07b4c2 75%,#f68100 75%);
		background: -webkit-linear-gradient(left, #e7613c 25%,#67bc25 25%,#67bc25 50%,#07b4c2 50%,#07b4c2 75%,#f68100 75%);
		background: linear-gradient(left, #e7613c 25%,#67bc25 25%,#67bc25 50%,#07b4c2 50%,#07b4c2 75%,#f68100 75%);
		height: 5px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 6px 6px 0 0;
	}

	

	.roboto-light__default{
		font-size: 18px;
		margin-bottom: 15px;
	}

	label, input{
		display: block;
	}

	label{
		font-family: @roboto;
		font-weight: @regular;
		color: @text-color;
		font-size: 14px;
	}

	input{
		color: #aab2bd;
		text-transform: uppercase;
		font-family: @roboto;
		font-weight: @regular;
		font-size: 13px;
		padding: 8px 13px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		border: solid 1px #e6e9ed;
		box-sizing: border-box;
		width: 100%;
		outline: 0;
		margin-bottom: 17px;

		// Green input //////////////////////

		&.input-accept{
			border: 1px solid #62b322;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			background-color: #fff;
			-webkit-box-shadow: 0 0 12px rgba(105,189,39,.38);
			-moz-box-shadow: 0 0 12px rgba(105,189,39,.38);
			box-shadow: 0 0 12px rgba(105,189,39,.38);
		}


		// Red input ////////////////////////

		&.input-error{
			border: 1px solid #c4000d;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			background-color: #fff;
			-webkit-box-shadow: 0 0 12px rgba(196,0,13,.38);
			-moz-box-shadow: 0 0 12px rgba(196,0,13,.38);
			box-shadow: 0 0 12px rgba(196,0,13,.38);
		}

		&:last-of-type{
			margin-bottom: 30px;
		}

	}
}


/////////////////////////////////////////
/////////     Left Side Menu   //////////
/////////////////////////////////////////




.left-side-menu{
	min-height: 410px;
	padding-left: 0;

	 li{
		list-style: none;
	}

	 a{
		line-height: 52px;
	}

	.icon-mini-arrow-down{
		margin-left: 15px;
		transition: transform .2s;
	}

	.roboto-regular__default:hover .icon-mini-arrow-down{
			transform: scale(1.5);
	}

}


.ready-solution__wedding{



	.product-card__title{
		margin-bottom: 30px;
	}

	.bordered{
		padding: 27px 52px 27px 27px;
		margin-bottom: 28px;
	}

	ul{
		padding-left: 30px;
		margin-bottom: 28px;
	}

	.product-card__price{
		width: 100%;
	}

	.product-card__price p{
		font-size: @fz24;
		margin-top: -6px;
		margin-left: 10px;
	}


}

















.icon {
    background-image: url(../img/icons/spritesheet2.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.icon-alarm-clock {
    width: 84px;
    height: 83px;
    background-position: -3px -3px;
}

.icon-bage {
    width: 25px;
    height: 25px;
    background-position: -93px -3px;
}

.icon-basket {
    width: 40px;
    height: 38px;
    background-position: -124px -3px;
}

.icon-callme {
    width: 51px;
    height: 51px;
    background-position: -170px -3px;
}

.icon-car {
    width: 99px;
    height: 83px;
    background-position: -227px -3px;
}

.icon-checked-checkbox {
    width: 20px;
    height: 20px;
    background-position: -332px -3px;
}

.icon-deliver-price {
    width: 36px;
    height: 34px;
    background-position: -358px -3px;
}

.icon-disabled-radio {
    width: 22px;
    height: 22px;
    background-position: -400px -3px;
}

.icon-discount {
    width: 77px;
    height: 75px;
    background-position: -428px -3px;
}

.icon-enabled-radio {
    width: 22px;
    height: 22px;
    background-position: -511px -3px;
}

.icon-f {
    width: 40px;
    height: 40px;
    background-position: -539px -3px;
}

.icon-good {
    width: 75px;
    height: 83px;
    background-position: -585px -3px;
}

.icon-green-heart {
    width: 37px;
    height: 31px;
    background-position: -666px -3px;
}

.icon-grey-cross {
    width: 13px;
    height: 13px;
    background-position: -709px -3px;
}

.icon-grey-restangle {
    width: 14px;
    height: 13px;
    background-position: -728px -3px;
}

.icon-white-basket {
    width: 23px;
    height: 21px;
    background-position: -748px -3px;
}

.icon-instagramm {
    width: 40px;
    height: 40px;
    background-position: -777px -3px;
}

.icon-iphone {
    width: 11px;
    height: 18px;
    background-position: -823px -3px;
    margin-right: 8px;
}

.icon-loc {
    width: 26px;
    height: 36px;
    background-position: -840px -3px;
}

.icon-mimi-green-loc {
    width: 8px;
    height: 12px;
    background-position: -872px -3px;
}

.icon-mini-arrow-down {
    width: 12px;
    height: 7px;
    background-position: -886px -3px;
}

.icon-mini-arrow-up {
    width: 12px;
    height: 7px;
    background-position: -904px -3px;
}

.icon-orange-arrow {
    width: 7px;
    height: 13px;
    background-position: -922px -3px;
    margin-bottom: 4px;
}

.icon-orange-calendar {
    width: 25px;
    height: 25px;
    background-position: -935px -3px;
}

.icon-orange-clock {
    width: 21px;
    height: 21px;
    background-position: -966px -3px;
}

.icon-orange-deliver {
    width: 42px;
    height: 26px;
    background-position: -993px -3px;
}

.icon-orange-free-deliver {
    width: 32px;
    height: 35px;
    background-position: -1041px -3px;
}

.icon-orange-loc {
    width: 15px;
    height: 23px;
    background-position: -1079px -3px;
}

.icon-orange-mail {
    width: 28px;
    height: 20px;
    background-position: -1100px -3px;
}

.icon-orange-phone_clock {
    width: 29px;
    height: 27px;
    background-position: -1134px -3px;
}

.icon-orange-restangle {
    width: 14px;
    height: 13px;
    background-position: -1169px -3px;
}

.icon-orange-smile {
    width: 44px;
    height: 44px;
    background-position: -1189px -3px;
}

.icon-orange-star {
    width: 24px;
    height: 24px;
    background-position: -1239px -3px;
}

.icon-orange-talking {
    width: 38px;
    height: 38px;
    background-position: -1269px -3px;
}

.icon-orange-user {
    width: 23px;
    height: 23px;
    background-position: -1313px -3px;
}

.icon-phone {
    width: 17px;
    height: 18px;
    background-position: -1342px -3px;
    margin-right: 8px;
}

.icon-prepay {
    width: 90px;
    height: 90px;
    background-position: -1365px -3px;
}

.icon-red-cross-hover {
    width: 13px;
    height: 13px;
    background-position: -1461px -3px;
}

.icon-rounded-red-cross-hover {
    width: 24px;
    height: 24px;
    background-position: -1480px -3px;
}

.icon-search {
    width: 94px;
    height: 94px;
    background-position: -1510px -3px;
}

.icon-slider-arrow {
    width: 36px;
    height: 76px;
    background-position: -1610px -3px;
}

.icon-smartphone {
    width: 20px;
    height: 34px;
    background-position: -1652px -3px;
}

.icon-spritesheet {
    width: 1760px;
    height: 96px;
    background-position: -1678px -3px;
}

.icon-twitter {
    width: 40px;
    height: 40px;
    background-position: -3444px -3px;
}

.icon-two-green-heart {
    width: 76px;
    height: 56px;
    background-position: -3490px -3px;
}

.icon-unchecked-checkbox {
    width: 20px;
    height: 20px;
    background-position: -3572px -3px;
}

.icon-vk {
    width: 40px;
    height: 40px;
    background-position: -3598px -3px;
}

.icon-vk-orange {
    width: 33px;
    height: 19px;
    background-position: -3644px -3px;
}

.icon-white-delete {
    width: 11px;
    height: 11px;
    background-position: -3683px -3px;
}
